<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

		<a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">
			<span class="fa fa-rss fa-lg"></span>
		</a>

		<nav class="site-nav">
			<a href="#" class="menu-icon fa fa-bars fa-lg"></a>

			<div class="trigger">
				{% for page in site.pages %}
					{% if page.title %}
					<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</nav>

	</div>

</header>
